@import '/home/a13k5/.config/wofi/rose-pine.css';

* {
  color: @text;
}

#outer-box {
  background-color: @base;
  border: 1px solid @rose;
}

#input {
  border-radius: 0;
  border: none;

  margin: 10px;
  background-color: @base;
  font-size: 1.2em;
}

#inner-box {
  margin: 4px;
  background-color: @base;
}

#img {
  padding-right: 10px;
}

#entry {
  padding: 8px;
  border-radius: 5px;
}

#input:focus,
#entry:selected {
  box-shadow: none;
  outline: none;
}

#entry:selected {
  background-color: @highlightMed;
}
